#center{
    text-align: center;
    text-size-adjust: 20;
    text-decoration: dotted;
}

#submit{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-left: 20%;
    height: 5cm;
    width: 20cm;
    align-items: center;
}
#head{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}
#cont{
    height: auto;
    width: 1000px;
}